.background {
    viewport-fill: white;
}

#clockFaceLabel {
    font-size: 90;
    font-family: System-Regular;
    text-length: 32;
    text-anchor: middle;
    x: 50%;
    y: 30%;
    fill: white;
}

#weekdayLabel {
    font-size: 40;
    font-family: System-Light;
    text-length: 32;
    text-anchor: middle;
    x: 50%;
    y: 44%;
    fill: white;
}

#dateLabel {
    font-size: 40;
    font-family: System-Light;
    text-length: 32;
    text-anchor: middle;
    x: 50%;
    y: 58%;
    fill: white;
}

#batteryStatusLabel {
    font-size: 20;
    font-family: System-Regular;
    text-length: 32;
    text-anchor: start;
    x: 78%;
    y: 79%;
    fill: white;
}

#heartRateLabel {
    font-size: 30;
    font-family: System-Regular;
    text-length: 32;
    text-anchor: end;
    x: 88%;
    y: 89%;
    fill: white
}

#distanceKmLabel {
    font-size: 30;
    font-family: System-Regular;
    text-length: 32;
    text-anchor: end;
    x: 88%;
    y: 98%;
    fill: white;
}
